<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <title>view JS</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <h1>{{ msg }}</h1>
      <button v-on:click="changemsg">change greet</button>
      <a v-bind:href="url">CLick</a>
      <input type="text" v-model="name" />
      <span>{{name}}</span>
      <input type="number" v-model="surname" />
      <span
        @click="available = !available"
        v-bind:class="{available: available}"
        >{{surname}}</span
      >
      <div @click="error = !error">toggle error</div>
      <div @click="success = !success">toggle success</div>
      <div v-if="error" bg="red">an Error</div>
      <div v-else-if="success" bg="green">Success</div>
      <ul v-for="name in names">
        <li>{{name}}</li>
      </ul>
    </div>
    <script src="app.js"></script>
  </body>
</html>
